* {
  margin: 0;
  padding: 0;
  font-family: "Kantumruy Pro", sans-serif;
}

body {
  position: relative;
}

/* header  */
header {
  width: 100%;
  background-color: rgb(255, 238, 236);
  position: fixed;
  z-index: 1;
  margin: 0;
  top: 0;
  right: 0;
  box-shadow: 1px 1px 10px silver;
}

.nav-bar {
  /* background-color: blue; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
}

.icon {
  padding: 10px;
  color: blueviolet;
  display: none;
}

.nav-list {
  list-style-type: none;
  display: flex;
}

.nav-list li a {
  padding: 10px;
  text-decoration: none;
}

.nav-list li a:hover {
  color: white;
  background: rgb(129, 105, 105);
  border-radius: 10px;
}

.btn {
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}

.btn:hover {
  color: white;
  background: rgb(129, 105, 105);
  cursor: pointer;
}

/* product section  */
.product-section {
  width: 100%;
  /* background-color: rosybrown; */
  margin-top: 120px;
  margin-bottom: 50px;
}

.product-container {
  width: 80%;
  margin: auto;
  background-color: rgb(255, 255, 255);
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.product-card {
  padding: 20px;
  background-color: rgb(255, 238, 236);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.product-card:hover {
  cursor: pointer;
  scale: 101%;
  box-shadow: 0px 1px 10px rgb(169, 169, 169);
}

.product-card img {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 15px;
}

.btn-add {
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price,
.title {
  margin: 10px;
}

.discount {
  position: absolute;
  background-color: gold;
  padding: 5px 10px;
  border-radius: 20px;
  top: 20;
  right: 20px;
}

/* footer  */

footer {
  padding: 10px;
  display: flex;
  background-color: rgb(255, 238, 236);
  justify-content: center;
}

.footer-section {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-logo {
  padding: 20px;
}

.footer-col {
  display: flex;
  align-items: center;
  justify-content: end;
  flex-wrap: wrap;
}

.item {
  margin: 10px;
}

.item a:hover {
  color: blue;
}

.item h4 {
  text-transform: uppercase;
}

.item {
  width: 300px;
}

.item a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  padding: 5px;
}

.contact-item {
  display: flex;
  align-items: center;
  justify-content: start;
}

.cpy-right {
  text-align: center;
  margin: 5px;
}

/* responsive */
/* laptop  */
@media (max-width: 1200px) {
  .product-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* tablet  */
@media (max-width: 992px) {
  .product-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* phone  */
@media screen and (max-width: 576px) {
  .icon-menu {
    width: 30px;
    height: 200px;
    background-color: rgb(135, 133, 131);
  }

  .icon {
    display: block;
  }

  .btn-box {
    display: none;
  }

  nav {
    padding: 20px;
    width: 100%;
    height: 20px;
    background-color: rgb(185, 185, 203);
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav-list {
    padding: 10px;
    width: auto;
    background-color: rgb(208, 208, 239);
  }

  .nav-bar {
    padding: 0px;
    margin-bottom: 0;
  }

  .product-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .logo,
  .btn-box {
    margin-bottom: 15px;
  }
}
